@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_reset\.scss}line{font-family:\000031}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_reset\.scss}line{font-family:\0000391}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_reset\.scss}line{font-family:\00003105}}
body {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_reset\.scss}line{font-family:\00003109}}
ol,
ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_reset\.scss}line{font-family:\00003114}}
blockquote,
q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_reset\.scss}line{font-family:\00003119}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_reset\.scss}line{font-family:\00003127}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_navigation\.scss}line{font-family:\000031}}
nav {
  display: flex;
  padding: 20px 0;
  background-color: #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_navigation\.scss}line{font-family:\000036}}
  nav .nav-items {
    display: flex;
    width: 95%;
    justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_navigation\.scss}line{font-family:\0000311}}
    nav .nav-items li:not(:last-of-type) {
      padding-right: 110px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_navigation\.scss}line{font-family:\0000316}}
  nav .login-cart {
    display: flex;
    width: 5%;
    justify-content: space-around; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_navigation\.scss}line{font-family:\0000321}}
    nav .login-cart li {
      padding-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_navigation\.scss}line{font-family:\0000326}}
  nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_footer\.scss}line{font-family:\000031}}
footer {
  text-align: center;
  justify-content: space-around;
  background-color: #444444;
  color: white;
  padding: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_footer\.scss}line{font-family:\000038}}
  footer h5,
  footer p {
    margin: 18px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_footer\.scss}line{font-family:\0000313}}
  footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_footer\.scss}line{font-family:\0000320}}
    footer ul li:not(:last-of-type) {
      margin-right: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/_footer\.scss}line{font-family:\0000324}}
    footer ul a {
      color: white;
      font-size: 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000318}}
header {
  text-align: center;
  font-family: 'Cormorant', Verdana, sans-serif;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000324}}
  header > h2 {
    font-size: 1.5rem;
    line-height: 1.4; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000330}}
.wrapper {
  width: 90%;
  line-height: 1.4;
  margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000335}}
  .wrapper > h1 {
    font-size: 1.5rem;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000340}}
  .wrapper > img {
    display: block;
    margin: 2rem auto 0 auto;
    width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000346}}
  .wrapper hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000353}}
  .wrapper > form {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000357}}
    .wrapper > form > div > label, .wrapper > form > div > input, .wrapper > form > div > div {
      display: block;
      margin: 5px 0;
      font-size: 1.2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000364}}
    .wrapper > form > div > div {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000370}}
    .wrapper > form > input {
      display: block;
      margin: 1rem auto;
      font-size: 1.2rem;
      background-color: #c7b198;
      padding: 0.8rem;
      border-radius: 5px;
      letter-spacing: 1px;
      text-decoration: none;
      text-shadow: 0px 3px 3px #c7b198; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000384}}
  .wrapper .backToHome {
    text-align: left;
    font-size: 1.5rem;
    left: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000390}}
    .wrapper .backToHome > a {
      text-decoration: none;
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\0000395}}
      .wrapper .backToHome > a > i {
        margin-right: 10px;
        padding: 5px; }

/* 
  ##Device = Tablet or Desktop (Portrait). 
*/
@media screen and (min-width: 1000px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\00003110}}
  .wrapper > form > div {
    display: grid;
    grid-template-rows: 1.4;
    grid-template-columns: 2fr 1fr 1fr 2fr; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\00003115}}
    .wrapper > form > div > label, .wrapper > form > div > input, .wrapper > form > div > div {
      font-size: 1.5rem;
      padding: 0 5px;
      margin: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\00003122}}
    .wrapper > form > div div {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\00003126}}
    .wrapper > form > div > label {
      text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BCIT_SSD\/Frontend_Essentials\/front-end-project\/front-end-project-nappingbed\/scss\/checkout\/checkout\.scss}line{font-family:\00003130}}
    .wrapper > form > div > input {
      font-size: 1.2rem; } }

/*# sourceMappingURL=checkout.css.map */
