.wrapper {
  width: 90%;
  line-height: 1.4;
  margin: 0 auto;
  font-family: "Cormorant", Verdana, sans-serif; }
  .wrapper > h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem; }
  .wrapper > img {
    display: block;
    margin: 2rem auto 0 auto;
    width: 10%; }
  .wrapper hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem; }
  .wrapper > form {
    width: 100%; }
    .wrapper > form > div label,
    .wrapper > form > div input,
    .wrapper > form > div select,
    .wrapper > form > div > div {
      display: block;
      width: 90%;
      margin: 5px 0px;
      padding: 2px;
      font-size: 1.2rem; }
    .wrapper > form > div input,
    .wrapper > form > div select {
      border: 2px solid lightgray;
      box-shadow: inset -1px 2px 3px lightgray; }
    .wrapper > form > input {
      display: block;
      margin: 3rem auto 2rem auto;
      font-size: 1.2rem;
      background-color: #c7b198;
      padding: 0.8rem;
      border-radius: 5px;
      letter-spacing: 1px;
      text-decoration: none;
      text-shadow: 0px px 3px #c7b198;
      line-height: 1rem;
      width: 9rem; }
  .wrapper .backToHome {
    text-align: left;
    font-size: 1.5rem;
    left: 10%; }
    .wrapper .backToHome a {
      text-decoration: none;
      color: black; }
      .wrapper .backToHome a > i {
        margin-right: 10px;
        padding: 5px; }

/* 
  ##Device = Tablet or Desktop (Portrait). 
*/
@media screen and (min-width: 670px) {
  .wrapper > form > div.content {
    display: grid;
    grid-template-rows: 1.4;
    grid-template-columns: minmax(20rem, 2fr) minmax(18rem, 3fr); }
    .wrapper > form > div.content .nameLabel {
      grid-area: 1/1/2/2; }
    .wrapper > form > div.content .firstName {
      grid-area: 1/2/2/3; }
    .wrapper > form > div.content .lastName {
      grid-area: 2/2/3/3; }
    .wrapper > form > div.content .addressLabel {
      grid-area: 3/1/4/2; }
    .wrapper > form > div.content .address {
      grid-area: 3/2/4/3; }
    .wrapper > form > div.content .cityLabel {
      grid-area: 4/1/5/2; }
    .wrapper > form > div.content .city {
      grid-area: 4/2/5/3; }
    .wrapper > form > div.content .stateLabel {
      grid-area: 5/1/6/2; }
    .wrapper > form > div.content .state {
      grid-area: 5/2/6/3; }
    .wrapper > form > div.content .countryLabel {
      grid-area: 6/1/7/2; }
    .wrapper > form > div.content .country {
      grid-area: 6/2/7/3; }
    .wrapper > form > div.content .postalLabel {
      grid-area: 7/1/8/2; }
    .wrapper > form > div.content .postal {
      grid-area: 7/2/8/3; }
    .wrapper > form > div.content .phoneLabel {
      grid-area: 8/1/9/2; }
    .wrapper > form > div.content .phone {
      grid-area: 8/2/9/3; }
    .wrapper > form > div.content label,
    .wrapper > form > div.content input,
    .wrapper > form > div.content select,
    .wrapper > form > div.content div {
      display: block;
      font-size: 1.2rem;
      padding: 3px 30px 3px 0;
      margin: 2px 0;
      border-radius: 5px;
      width: 100%;
      text-transform: capitalize; }
    .wrapper > form > div.content > div {
      display: block; }
    .wrapper > form > div.content .label {
      display: flex;
      align-items: center;
      text-align: right;
      margin-right: 0;
      padding-right: 0; }
    .wrapper > form > div.content > input,
    .wrapper > form > div.content > select {
      font-size: 1.2rem; }
  .wrapper .product-item {
    color: #929292; } }
/* 
  ##Device = Tablet or Desktop (Portrait). 
*/
@media screen and (min-width: 1250px) {
  .wrapper > form > div.content {
    display: grid;
    grid-template-rows: 1.4;
    grid-template-columns: minmax(20rem, 4fr) minmax(24rem, 3fr) minmax(24rem, 3fr) minmax(0, 5fr); }
    .wrapper > form > div.content .nameLabel {
      grid-area: 1/1/2/2; }
    .wrapper > form > div.content .firstName {
      grid-area: 1/2/2/3; }
    .wrapper > form > div.content .lastName {
      grid-area: 1/3/2/4; }
    .wrapper > form > div.content .addressLabel {
      grid-area: 2/1/3/2; }
    .wrapper > form > div.content .address {
      grid-area: 2/2/3/3; }
    .wrapper > form > div.content .cityLabel {
      grid-area: 3/1/4/2; }
    .wrapper > form > div.content .city {
      grid-area: 3/2/4/3; }
    .wrapper > form > div.content .stateLabel {
      grid-area: 4/1/5/2; }
    .wrapper > form > div.content .state {
      grid-area: 4/2/5/3; }
    .wrapper > form > div.content .countryLabel {
      grid-area: 5/1/6/2; }
    .wrapper > form > div.content .country {
      grid-area: 5/2/5/3; }
    .wrapper > form > div.content .postalLabel {
      grid-area: 6/1/7/2; }
    .wrapper > form > div.content .postal {
      grid-area: 6/2/7/3; }
    .wrapper > form > div.content .phoneLabel {
      grid-area: 7/1/8/2; }
    .wrapper > form > div.content .phone {
      grid-area: 7/2/8/3; }
    .wrapper > form > div.content label,
    .wrapper > form > div.content input,
    .wrapper > form > div.content select,
    .wrapper > form > div.content div {
      display: block;
      font-size: 1.2rem;
      padding: 3px 30px 3px 0;
      margin: 2px 0;
      border-radius: 5px;
      width: 100%;
      text-transform: capitalize; }
    .wrapper > form > div.content > div {
      display: block; }
    .wrapper > form > div.content .label {
      display: flex;
      align-items: center;
      text-align: right;
      margin-right: 0;
      padding-right: 0; }
    .wrapper > form > div.content > input,
    .wrapper > form > div.content > select {
      font-size: 1.2rem; } }
.line {
  width: 100%;
  border-bottom: 1px solid lightgray; }
  @media screen and (min-width: 768px) {
    .line {
      margin-left: 55%;
      width: 30%; } }

.product-item {
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .product-item {
      width: 25%; } }

.item-title {
  color: #c7b198; }

.quantity-box {
  height: 40px;
  width: 40px; }

.proceed-btn {
  background-color: #c7b198;
  color: white; }

.cont-shopping {
  text-decoration: none;
  color: #929292; }
  .cont-shopping:hover {
    color: #929292; }

/*# sourceMappingURL=checkout.css.map */
