.shop-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; }

.shop-img:hover {
  opacity: 0.7; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 0 !important;
  padding-top: 100px !important;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100% !important;
  /* Full width */
  height: 100% !important;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */ }

/* Modal Content (Image) */
.modal-content {
  margin: auto !important;
  display: block;
  max-width: 250px !important;
  width: 250px !important;
  max-height: 250px !important;
  height: 250px !important; }

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto !important;
  display: block;
  width: 70% !important;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 25px; }

/* Add Animation - Zoom in the Modal */
.modal-content,
.caption {
  animation-name: zoom;
  animation-duration: 0.6s; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }
section header {
  text-align: center;
  padding: 1rem; }
  section header h1 {
    font-weight: bold;
    font-size: 2rem; }
  section header p {
    padding: 1rem 20%; }

h1 {
  font-size: 40px;
  color: #444444; }

.sideArticle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .sideArticle article {
    padding: 1rem; }
    .sideArticle article h2 {
      font-weight: bold;
      font-size: 1rem;
      color: #c7b198; }
    .sideArticle article:nth-of-type(1) {
      width: 20rem;
      align-self: flex-start;
      display: none; }
      @media screen and (min-width: 768px) {
        .sideArticle article:nth-of-type(1) {
          display: block; } }
      .sideArticle article:nth-of-type(1) div {
        padding: 1rem; }
        .sideArticle article:nth-of-type(1) div > * {
          margin: 0.5rem 0; }
    .sideArticle article:nth-of-type(2) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-start; }
      .sideArticle article:nth-of-type(2) div {
        padding: 1rem;
        width: 100%;
        text-align: center; }
        .sideArticle article:nth-of-type(2) div > * {
          margin: 0.5rem; }
        @media screen and (min-width: 768px) {
          .sideArticle article:nth-of-type(2) div {
            width: 40%; } }
        @media screen and (min-width: 992px) {
          .sideArticle article:nth-of-type(2) div {
            width: 25%; } }
      .sideArticle article:nth-of-type(2) img {
        max-width: 10rem;
        max-height: 15rem; }

.imgArticle {
  color: black;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/img/shop-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0; }
  .imgArticle > * {
    padding: 1rem; }
  .imgArticle h5 {
    font-weight: bold;
    font-size: 1.25rem; }

/*# sourceMappingURL=shop.css.map */
