$phoneLandscape: 670px;

.wrapper {
    width: 90%;
    line-height: $line-height;
    margin: 0 auto;

    > h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    > img {
        display: block;
        margin: 2rem auto 0 auto;
        width:10%;
    }

    hr {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;;
    }

    > form {
        width:100%;
        > div {
            display: grid;
            grid-template-columns: 1fr;       

            > label, > input, > empty {
                display: block;
                margin: 5px 0;
                font-size: 1.2rem;
            }

            empty {
                display: none;
            }
        }

        // submit button
        > input {
            display: block;
            margin: 1rem auto;
            font-size: 1.2rem;
            background-color: $palette-brown;
            padding: 0.8rem;
            border-radius: 5px;
            letter-spacing: 1px;
            text-decoration: none;
            text-shadow: 0px 3px 3px $palette-brown;
        }
    }
    

    .backToHome {
        text-align: left;
        font-size: 1.5rem;
        left: 10%;
       

        > a {

            text-decoration: none;
            color: black;
                         
            > i  {
                margin-right: 10px;
                padding: 5px;
            }
        }
    }
}

/* 
  ##Device = Tablet or Desktop (Portrait)
*/
@media screen and (min-width: 1024px) {
    .wrapper {
        > form {
    
            > div {
                display: grid;
                grid-template-rows: $line-height;   
                grid-template-columns: 2fr 1fr 1fr 2fr;


                > label, > input, > span {
                    font-size: 1.5rem;
                    padding: 0 5px;
                    margin: 10px;
                }

                empty {
                    display: block;
                }

                > label {
                    text-align: right;
                }  

                > input {
                    font-size: 1.2rem;
                }
            }

            
        }
    }
  }


