header {

    text-align: center;
    font-family: 'Cormorant', Verdana, sans-serif;
    text-transform: uppercase;
    
    > nav {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $footer-backgroundColor;
        font-size: 0.8rem;

        &.grid-container {
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-rows: $line-height;

            ul {

                margin: 0;

                &.grid-item {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    list-style-type: none;
                    justify-content: center;
                    align-items: center;
                }
                &.nav {
                    justify-content: center;
                }
            
                &.cart {
                    justify-content: flex-end;
                    padding-right: 1em;
                }

                a {
                    text-decoration: none;
                    text-align: center;
                    color: white;
                    display: block;
                    padding: .6em 0.8em;
                }

                &.cart  a {
                    font-size: 1.5rem;
                    padding: .6em 0.4em;
                }

            }
        }
    }
}