header {

    text-align: center;
    font-family: 'Cormorant', Verdana, sans-serif;
    text-transform: uppercase;

    > h2 {
        font-size: 1.5rem;
        line-height: $line-height;
    }
    
    > nav {

        display: flex;
        background-color: $footer-backgroundColor;

        > ul {
            display: flex;

            &.nav-items {
                justify-content: center;
                align-items: center;
                // keep the width as 100% so the navigation section will display in the middle of the view 
                width: 100%;
                li {
                    padding: 1rem;
                }
            }
    
            &.login-cart {    
                justify-content: flex-end; 
                align-items: center;    
                width: 5%;
                li {
                    padding: 1rem 2rem 1rem 0;
                    font-size: 1.5rem;
                }
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}