header {
    text-align: center;

    img {
        width: 150px;
    }
}

nav {
    display: flex;
    padding: 20px 0;
    background-color: #444444;

    .nav-items {
        display: flex;
        width: 95%;
        justify-content: center;

        li:not(:last-of-type) {
            padding-right: 110px;
        }
    }

    .login-cart {
        display: flex;
        width: 5%;
        justify-content: space-around;

        li {
            padding-right: 15px;
        }
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }
}
