header {
    text-align: center;

    img {
        width: 150px;
    }
}

nav {
    display: flex;
    padding: 20px 0;
    background-color: #444444;
    position: relative;

    .nav-items {
        display: flex;
        width: 100%;
        justify-content: center;

        li:not(:last-of-type) {
            padding-right: 110px;
        }
    }

    .login-cart {
        position: absolute;
        display: flex;
        justify-content: space-around;
        right: 0;

        li {
            padding-right: 15px;
        }
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }
}
