// header background color ( logo, nav bar)
$header-background-color: #444444;
$footer-backgroundColor: #444444;

$line-height: 1.4;

$palette-light: #f0ece3;
$palette-lightbrown: #dfd3c3;
$palette-brown: #c7b198;
$palette-blue:  #596e79;



