// form {
//     width: 95%;
//     margin: auto;
// }

// textarea {
//     font-family: Arial, Helvetica, sans-serif;
// }

// .main-content {
//     padding: 2%;
//     margin: auto;
//     width: 70%;
//     text-align: center;

//     .Form-title {
//         font-size: 30px;
//         font-weight: 600;
//         padding-bottom: 2%;
//     }

//     .RegForm {
//         background-color: #dfd3c3;
//         padding: 2%;
//     }
// }

// @media (max-width: 768px) {
//     .main-content {
//         padding: 20px 8px;
//         background-color: #dfd3c3;
//         width: 95%;
//         margin: auto;
//         margin-top: 1.5%;
//         margin-bottom: 1.5%;
//     }
// }

// /* form specific format*/
// .formgroup {
//     display: flex;
//     flex-direction: row;
//     width: auto;

//     > label {
//         // width: 100%;
//         // margin-top: 0px;
//         font-weight: bold;
//         font-size: 1rem;
//         text-align: right;
//         // margin-right: 1rem;

//     }
//     small {
//         height: 1rem;
//         display: block;
//         visibility: hidden;
//     }
// }

// .error small {
//     color: #e74c3c;
//     visibility: visible;
// }

// .formgroup .input-control,
// textarea {
//     text-align: left;
//     margin-bottom: 6px;
//     margin-right: 8px;
//     width: 100%;
//     font-size: 15px;
// }

// input,
// textarea {
//     width: 90%;
//     margin: 0;
// }

// button {
//     padding: 15px 30px;
//     text-align: center;
//     min-width: 100px;
// }

// @media (max-width: 768px) {
//     .formgroup {
//         flex-direction: column;

//         > label {
//             text-align: left;
//         }
//     }
//     .formgroup .input-control {
//         margin-top: 2px;
//     }

//     button {
//         padding: 10px 20px;
//         margin: 5px;
//         font-size: 18px;
//         width: 5rem;
//         min-width: 100px;
//     }
// }

.register {
    text-align: center;

    .form-title {
        font-size: 30px;
        font-weight: 600;
        margin: 40px 0;
        color: #444444;
    }

    .RegForm {
        width: 70%;
        margin: auto;
        background-color: #dfd3c3;
        padding: 2%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .formgroup {
            display: flex;
            margin: 20px 0;
            width: 100%;
        }

        label {
            text-align: right;
            width: 15%;
            margin-right: 20px;
            font-size: 20px;
        }

        .input-control {
            width: 80%;

            input {
                width: 100%;
                padding: 5px;
            }

            small {
                min-height: 1rem;
                margin-top: 5px;
                display: block;
                visibility: hidden;
                text-align: left;
            }
        }

        button {
            background-color: silver;
            padding: 10px 3%;
        }

        .error small {
            color: #e74c3c;
            visibility: visible;
        }
    }

    .Exists {
        margin: 35px 0;

        p {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: map-get($breakpoint, tablet)) {
    .register {
        width: 90%;
        margin: auto;

        .RegForm {
            width: 90%;
            background-color: #dfd3c3;
            padding: 3%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .formgroup {
                text-align: left;
                display: block;
                width: 100%;
                margin: 10px 0;
            }

            label {
                text-align: left;
                font-size: 20px;
                margin: 0 0 100px 0;
            }

            .input-control {
                width: 95%;

                input {
                    width: 100%;
                    padding: 5px;
                }
            }
        }
    }
}
