
 textarea {
    font-family: Arial, Helvetica, sans-serif;
 }
  
  .main-content {
    padding: 2%;

    margin: auto;
    margin-top: 1.5%;
    margin-bottom:1.5%;
    background-color: #dfd3c3;
    width: 60%;
    text-align: center;
    font-family: 'Cormorant', serif;

    h1{
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 2%;
    }
  }
  
  @media (max-width: 768px) {
    .main-content {
      padding: 20px 8px;
      background-color: #dfd3c3;
      width: 95%;
      margin: auto;
      margin-top: 1.5%;
      margin-bottom:1.5%;
    }
  }
  
 
 /* form specific format*/
  .formgroup {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 2%;

    small {
      display: block;
      // visibility: hidden;
    }
  
  }

  .formgroup.error small{
    color:#e74c3c;
    visibility: visible;
  }
  
  .formgroup label {
    flex: none;
    display: block;
    width: 130px;
    font-weight: bold;
    font-size: 19px;
  }
  
  .formgroup .input-control {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 20px;
    margin-right: 8px;
    padding: 7px;
    margin-top: -4px;
    font-size: 15px;
    width: 100%;
  }
  
  button {
    padding: 15px 30px;
    margin: 5px;
    min-width: 100px
  }
  
  @media (max-width: 768px) {
    .formgroup {
      flex-direction: column;
    }
    .formgroup .input-control {
      margin-top: 2px;
    }

    button {
        padding: 10px 20px;
        margin: 5px;
        font-size: 18px;
        width: 93%;
        min-width: 100px
      }
  }