// Animation @keyframes
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// Desktop Size
.index {
    background-image: url('../../img/index-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: auto;
    color: white;

    .login-cart ul {
        display: flex;
        position: absolute;
        right: 20px;
        top: 50px;

        li {
            margin-right: 25px;
        }

        a {
            color: white;
        }

        i {
            font-size: 40px;
        }

        .cartGroup {
            position: relative;
            .cartNumber {
                position: absolute;
                bottom: 12px;
                left: 16px;
                color: rgb(145, 106, 64);
                font-size: 18px;
            }
        }
    }

    .desktop-logo img {
        width: 80px;
        margin: 2% 0 0 2%;
    }

    .center-content {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
        animation-name: fade-in;
        animation-duration: 3s;

        h1 {
            font-size: 9rem;
            font-family: $index-h1-font;
        }

        p {
            margin: 30px 0;
        }
    }
}

// Tablet Size
@media screen and (max-width: map-get($breakpoint, tablet)) {
    .index {
        .login-cart ul {
            display: none;
        }

        .desktop-logo {
            display: none;
        }

        .center-content {
            display: none;
            animation-name: fade-out;
            animation-duration: 2s;

            h1 {
                font-size: 7rem;
            }

            p {
                padding-left: 4%;
                padding-right: 4%;
            }
        }

        .active-center-content {
            display: block;
            animation-name: fade-in;
            animation-duration: 2s;
        }
    }
}

// Mobile Size
@media screen and (max-width: map-get($breakpoint, mobile)) {
    .index {
        .tablet-mobile-nav {
            .tablet-mobile-logo img {
                width: 200px;
            }

            .nav-item:not(.tablet-mobile-logo) {
                font-size: 2rem;
                margin: 25px 0;
            }
        }

        .center-content {
            h1 {
                font-size: 5rem;
            }
        }
    }
}