// Desktop Size
.index {
    .tablet-mobile-nav {
        display: none;
    }

    .center-content {
        .desktop-nav {
            display: block;
            background-color: transparent;
            width: 100%;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li:not(:last-of-type) {
                    margin-right: 50px;
                }

                a {
                    font-size: 2rem;
                    font-style: italic;
                    font-family: $index-nav-font;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

// Tablet Size
@media screen and (max-width: map-get($breakpoint, tablet)) {
    .index {
        .tablet-mobile-nav {
            .toggle {
                padding: 0;
                text-align: left;

                .fas {
                    padding: 20px;
                    color: white;
                }
            }

            padding: 0;
            display: block;
            background-color: transparent;
            text-align: center;

            .tablet-mobile-logo img {
                width: 400px;
            }

            .nav-item {
                display: none;
                animation-name: fade-out;
                animation-duration: 2s;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                }
            }

            .nav-item:not(.tablet-mobile-logo) {
                font-size: 3rem;
                margin: 40px 0;
            }
        }

        .center-content {
            .desktop-nav {
                display: none;
            }
        }

        .active-menu .nav-item {
            display: block;
            animation-name: fade-in;
            animation-duration: 2s;
        }
    }
}

// Mobile Size
@media screen and (max-width: map-get($breakpoint, mobile)) {
    .index {
        .tablet-mobile-nav {
            .tablet-mobile-logo img {
                width: 200px;
            }

            .nav-item:not(.tablet-mobile-logo) {
                font-size: 2rem;
                margin: 25px 0;
            }
        }
    }
}
